*.o
*.mod
*.out
met.*
met_rst/
Si8.*
Si8_rst/
*.tar.gz
*.zip
*.pdf
*.pyc
__pycache__/
docs/
video_lec/
workshop/
openmx4.0_manual/
openmx.db
openmx.db-shm
openmx.db-wal
openmx4.0/
parsed/
omx_tools.egg-info/
work/
dist/
